---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Maximiliano Van Megroot - Portfolio"
	description="Contrata a Maximiliano para crear tu aplicación web. Desarrollador Web Full Stack. Especializado en crear aplicaciones únicas y con experiencia en JavaScript."
>
	<main></main>
</Layout>

<style></style>
