---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import ProfileCheckIcon from "../icons/ProfileCheck.astro";
import DownLinesIcon from "../icons/DownLines.astro";
---

<Layout
	title="Maximiliano Van Megroot - Portfolio"
	description="Contrata a Maximiliano para crear tu aplicación web única. Programador - Desarrollador Web Full Stack - Back End."
>
	<main class="px-4">
		<SectionContainer
			id="home"
			class="pt-[10rem] pb-[7rem] md:pt-[14rem] md:pb-[11rem]"
		>
			<Hero />
		</SectionContainer>

		<DownLinesIcon class="size-8 animate-bounce flex w-full justify-center" />

		<SectionContainer id="experience" class="pt-16 pb-0">
			<h2 class="mb-6 flex gap-x-3 items-center text-3xl font-semibold">
				<BriefcaseIcon class="size-8" />
				Experience
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects" class="pt-16 pb-0">
			<h2 class="mb-6 flex gap-x-3 items-center text-3xl font-semibold">
				<CodeIcon class="size-8" />
				Projects
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="about" class="pt-16 pb-0 animate">
			<h2 class="mb-6 flex gap-x-3 items-center text-3xl font-semibold">
				<ProfileCheckIcon class="size-8" />
				About me
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
