---

---

<article
	class=" mt-4 flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
	<div
		class="[&>p]:mb-4 [&>p>strong]:text-blue-800 dark:[&>p>strong]:text-yellow-200/80 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
	>
		<p>
			Desde mis días de estudios secundarios, me he sentido atraído hacia el
			mundo técnico, especialmente luego de obtener mi título como
			<strong>Técnico Electrónico</strong>. Mi curiosidad por entender cómo
			funcionan las cosas y resolver enigmas ha sido una constante en mi vida,
			sirviendo como un motor que impulsa mi crecimiento personal y profesional.
		</p>

		<p>
			Fuera del mundo de la tecnología, encuentro equilibrio y placer en otras
			actividades. La <strong>natación</strong> ha sido una pasión arraigada en mí
			desde que tengo memoria, llevándome a alcanzar logros notables, como subir
			al podio en competencias de aguas abiertas.
		</p>

		<p>
			Además, he descubierto un apasionante interés por el
			<strong>baile</strong>, particularmente en estilos como la
			<strong><em class="italic">salsa</em></strong> y la
			<strong><em class="italic">bachata</em></strong>, que he estado
			practicando con entusiasmo desde hace más de un año. Este nuevo pasatiempo
			no solo me proporciona una forma de expresión creativa, sino también la
			oportunidad de conectarme con otros de una manera única y emocionante.
		</p>

		<p>
			Mi objetivo es seguir creciendo como desarrollador de software,
			enfocándome en crear aplicaciones estéticamente atractivas y técnicamente
			sólidas. Aspiro a desarrollar <strong>soluciones prácticas</strong> que resuelvan
			problemas reales y satisfagan las necesidades de los usuarios. Estoy comprometido
			a contribuir de manera significativa al mundo de la tecnología, aportando mi
			creatividad y habilidades técnicas en cada proyecto en el que participe.
		</p>
		<p>
			<strong><em class="italic"></em></strong>
		</p>
	</div>
</article>
