<a
	{...Astro.props}
	target="_blank"
	rel="noopener noreferrer"
	class="relative
	rounded-full
	cursor-pointer
	focus-visible:ring-blue-500/50
	dark:focus-visible:ring-yellow-300/80
	focus:outline-none
	focus-visible:outline-none
	focus-visible:ring
	focus-visible:ring-offset-2
  active:bg-black
	overflow-hidden
	max-w-fit
	px-[0.1rem]
	py-[0.1rem]
	transition
	inline-flex
	items-center
	justify-center
	gap-2
	group
	text-md"
>
	<span
		class="absolute inset-[-150%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
	></span>
	<div
		class="whitespace-nowrap
			backdrop-blur-3xl
			max-w-fit
			px-4
			py-1
			transition
			inline-flex
			items-center
			justify-center
			gap-2
			rounded-full
			group
			text-md
			text-gray-800
			bg-gray-100
			hover:text-white
			hover:bg-gray-500
			dark:text-white
			dark:bg-gray-800
			dark:hover:bg-gray-500"
	>
		<slot />
	</div>
</a>
