<span class="p-[1px] relative inline-flex overflow-hidden rounded-full">
	<span
		class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
	></span>
	<div
		class="px-3 py-1 inline-flex items-center justify-center text-sm whitespace-nowrap rounded-full cursor-pointer backdrop-blur-3xl text-green-800 bg-green-100 dark:bg-gray-800 dark:text-white/80"
	>
		<slot />
	</div>
</span>
