---
const currentYear = new Date().getFullYear();
---

<footer class="flex justify-center m-5">
	<span class="text-sm text-zinc-800/90 dark:text-zinc-200/90">
		© {currentYear} MaxiV95. Casi todos los derechos reservados.
	</span>
</footer>
