---
import ThemeToggle from "./ThemeToggle.astro";
import Up from "../icons/Up.astro";

const navItems = [
	{
		title: "Home",
		label: "home",
		url: "/#home",
	},
	{
		title: "Experience",
		label: "experience",
		url: "/#experience",
	},
	{
		title: "Projects",
		label: "projects",
		url: "/#projects",
	},
	{
		title: "About",
		label: "about",
		url: "/#about",
	},
];
---

<header
	class="mx-auto mt-2 w-full top-0 fixed z-10 flex items-center justify-center"
>
	<nav
		class="px-2 flex gap-1 justify-center items-center font-medium rounded-full text-sm md:text-lg text-gray-600 dark:text-gray-200"
	>
		{
			navItems.map((link) => (
				<a
					class="p-2 hover:text-blue-500 dark:hover:text-yellow-400"
					aria-label={link.label}
					href={link.url}
				>
					{link.title}
				</a>
			))
		}
		<ThemeToggle />
	</nav>
	<a
		id="goHome"
		aria-label="home"
		href="/#home"
		class="fixed bottom-4 right-4 z-10 py-2 px-2 hidden
		border
		rounded-full
		text-gray-200
		bg-blue-500/90
		border-gray-400
		hover:bg-blue-500/70
		dark:text-black
		dark:bg-yellow-300/90
		dark:hover:bg-yellow-300/70"
	>
		<Up />
	</a>
</header>

<script>
	document.addEventListener("astro:page-load", () => {
		const sections = document.querySelectorAll("section");
		const navItems = document.querySelectorAll("header nav a");
		const goHomeItem = document.querySelector("#goHome");

		const callback = (entries: any[]) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					navItems.forEach((item) => {
						if (item.getAttribute("aria-label") == entry.target.id) {
							item.classList.add("text-blue-600", "dark:text-yellow-300");
						} else {
							item.classList.remove("text-blue-600", "dark:text-yellow-300");
						}
					});
					if (goHomeItem) {
						if (goHomeItem.getAttribute("aria-label") == entry.target.id) {
							goHomeItem.classList.add("hidden");
						} else {
							goHomeItem.classList.remove("hidden");
						}
					}
				}
			});
		};

		const observer = new IntersectionObserver(callback, {
			root: null,
			rootMargin: "0px",
			threshold: 0.3,
		});

		sections.forEach((section) => {
			observer.observe(section);
		});

		// Cleanup function
		document.onvisibilitychange = () => {
			if (document.visibilityState === "hidden") {
				observer.disconnect();
			} else {
				sections.forEach((section) => {
					observer.observe(section);
				});
			}
		};
	});
</script>

<style>
	nav {
		animation: nav-shadown both;
		animation-timeline: scroll();
		animation-range: 0 500px;
	}
	@keyframes nav-shadown {
		to {
			@apply shadow-lg backdrop-blur bg-gray-500/40;
		}
	}
</style>
