---
import FileDownloadIcon from "../icons/FileDownload.astro";
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
import Badge from "./Badge.astro";
import SocialLink from "./SocialLink.astro";
---

<div class="max-w-xl">
	<div class="mb-4 flex gap-4 items-center">
		<img
			class="rounded-full shadow-lg"
			style="width: 6rem; height: 6rem;	aspect-ratio: 1/1;"
			src="/images/photo.webp"
			alt="MaxiV95"
		/>
		<h1 class="text-4xl font-bold tracking-tight sm:text-5xl">
			Hi! I'm Maximiliano Van Megroot
		</h1>
	</div>
	<div
		class="mt-5 text-xl text-gray-800 dark:text-gray-300 [&>p>strong]:font-semibold [&>p>strong]:text-blue-600 dark:[&>p>strong]:text-yellow-300"
	>
		<p class="mb-[6px] leading-5">
			Resolución de problemas y atención al detalle.
		</p>
		<p class="mb-[6px] leading-5">
			<strong>Full Stack Web Developer</strong> - Córdoba, Argentina.
		</p>
		<p class="mb-[6px] leading-5">
			Especializado en el desarrollo de aplicaciones web.
		</p>
	</div>
	<nav class="mt-8 flex flex-wrap gap-4">
		<Badge href="https://www.linkedin.com/in/maximilianovanmegroot/">
			<LinkedInIcon class="size-4" />
			LinkedIn
		</Badge>
		<SocialLink href="https://github.com/MaxiV95">
			<GitHubIcon class="size-4" />
			GitHub
		</SocialLink>
		<SocialLink
			href="/Maximiliano_Van_Megroot_CV-23-03-24.pdf"
			download="Maximiliano_Van_Megroot_CV-23-03-24.pdf"
		>
			<FileDownloadIcon class="size-4" />
			CV
		</SocialLink>
		<SocialLink href="mailto:maximilianovanmegroot@gmail.com">
			<MailIcon class="size-4" />
			Send email
		</SocialLink>
	</nav>
</div>
