---
import ProjectsItem from "./ProjectsItem.astro";
import { TAGS } from "../icons/tagsTechnologies";

const PROJECTS = [
	{
		title: "Api Blog",
		description:
			"Aplicación para: buscar, crear, editar, filtrar y ordenar recetas. Es un sitio web dinámico con estilos en CSS en cascada. Consumo de API del sitio web Spoonacular y sustentación de información en base de datos. Extra; botón para cambiar la paleta de colores.",
		tags: [
			TAGS.Node,
			TAGS.JavaScript,
			TAGS.React,
			TAGS.Redux,
			TAGS.Express,
			TAGS.PostgreSQL,
		],
		image: "/projects/foodImg.webp",
		github: "https://github.com/MaxiV95/PI-Food",
		link: "",
	},
	{
		title: "Blog",
		description:
			"API con funcionalidades de CRUD completo para un blog. Este proyecto abarca desde el registro y autenticación de usuarios, gestión de administradores hasta la interacción con una base de datos MongoDB. Además, incorporé características avanzadas como un chat en vivo implementado con Sockets y un bot de eventos que utiliza Webhooks de Github para notificar automáticamente cambios relevantes en un canal de Discord.",
		tags: [TAGS.Node, TAGS.TypeScript, TAGS.Nest, TAGS.MongoDB],
		image: "/projects/blogImg.webp",
		github: "https://github.com/MaxiV95/tpf-blog",
		link: "",
	},
];
---

<div class="flex flex-col gap-y-16">
	{PROJECTS.map((project) => <ProjectsItem {...project} />)}
</div>
