<a
	{...Astro.props}
	target="_blank"
	rel="noopener noreferrer"
	class="max-w-fit
	px-4
	py-1
	transition
	inline-flex
	items-center
	justify-center
	gap-2
	border
	rounded-full
	group
	text-md
	text-gray-800
	bg-gray-100
	border-gray-400
	hover:text-white
	hover:bg-gray-500
	hover:border-gray-900
	focus-visible:ring-blue-500/50
	dark:text-white
	dark:bg-gray-800
	dark:border-gray-600
	dark:hover:bg-gray-500
	dark:focus-visible:ring-yellow-300/80
	focus:outline-none
	focus-visible:outline-none
	focus-visible:ring
	focus-visible:ring-offset-2
  active:bg-black"
>
	<slot />
</a>
